.playlist-form {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    width: 300px;
}
.input {
    display: block;
    text-align: left;
    font-size: 16px;
}
.textarea {
    width: 400px;
    height: 100px;
}